#home_leg{
    background-image: url("user3.png");
    background-position: center!important;
    background-repeat: no-repeat;
    width: 100%;
    height: 35vh;
}
.row2{
    text-align: center;
}
.bac_b{
    background-color: #003f5c;
}
h3{
    height: 20vh;
}
h2{
    color: black;
    font-weight: 100;
}
#log_c{
    color: white;
}
.head{
    font-size: 3em;
    color: black;
    margin: 10px;
    text-align: center;
}
.nav_r{
    justify-content: center;
    align-items: center;
    background-color:white!important;}
.cm_body{
    background-color:white;
}





